@charset "UTF-8";

/* General Settings */
html, body, div, span, applet, object, iframe, strong,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, caption,
tbody, tfoot, thead, table, label, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    overflow-y: scroll;
}
ol, ul {
    list-style: none;
}
p {
    margin: 0 0 10px 0;
}
body {
    color: #555;
    background: #f5f5f5 url("../images/bg-001.png");
    text-align: center;
    font: normal 13px "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    line-height: 1.4;
    letter-spacing: 0;
}

/* Layouts */
#container {
    width: 650px;
    margin: 10px auto;
    background: #fff;
    text-align: left;
}
header {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
}
#logo {
    font-size: 140%;
    font-weight: bold;
}
footer {
    font-size: 88%;
    padding: 12px 20px;
    text-align: center;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    font-weight: bold;
}
footer ul {
    display: inline;
}
footer ul li {
    display: inline;
    padding-right: 3px;
}
#main {
    margin-bottom: 10px;
}
.inner {
    padding: 5px 20px;
}

/* Menu */
.menu li {
    display: inline;
    padding: 0 2px;
    font-weight: bold;
    text-align: right;
}
.menu .active a {
    color: #555;
    text-decoration: underline;
}

/* Links */
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #bbb;
}
a:hover, a:active {
    color: #555;
}
a:link.hide, a:visited.hide {
    color: #fff;
}
a:hover.hide, a:active.hide {
    color: #bbb;
}

/* Forms */
input[type="text"], input[type="password"] {
    width: 170px;
}
input[type="submit"] {
    *padding-top: 2px;
}
.form .row {
    margin-top: 10px;
}
.form label {
    display: block;
    font-weight: bold;
}
.form input + label {
    display: inline;
    position: relative;
    right: 3px;
    top: -2px;
    *top: -1px;
}
.form .errorSummary {
    border: 1px dotted #ffb6c1;
    color: #dc143c;
    background-color: #fee;
    margin-bottom: 10px;
    padding: 10px;
}
.form p {
    font-weight: bold;
    margin-bottom: 10px;
}
.form .errorSummary li {
    padding: 0 0 0 10px;
}

/* Words */
.words, .words-hide {
    padding: 10px 20px;
    line-height: 1.5;
}
.words-hide {
    color: #fff;
}
.word {
    margin-right: 10px;
    color: #555;
    font-weight: bold;
}
.word + span {
    font-weight: bold;
}
.words a:link, .words a:visited {
    color: #fff;
}
.words a:hover, .words a:active {
    color: #bbb;
}

/* Others */
h2 {
    font-weight: 700;
    font-size: 143%;
    margin-bottom: 5px;
}
hr {
    margin: 10px 0;
    border: 0;
    border-bottom: 1px dotted #ccc;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.sort-link {
    text-align: left;
    float: left;
}
.flash-error, .flash-notice, .flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 1px dotted #ddd;
}
.flash-error {
    background: #fee;
    color: #dc143c;
    border-color: #ffb6c1;
}
.flash-error a {
    color: #f09595;
}
.flash-error a:hover {
    color: #dc143c;
}
.flash-notice {
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324;
}
.flash-success {
    background: #e6efc2;
    color: #3a551a;
    border-color: #b5a77F;
}
.flash-success a {
    color: #6d884d;
}
.flash-success a:hover {
    color: #3a551a;
}
.info {
    padding: 10px;
    background: #f0f0f0;
    color: #555;
    border: 1px dotted #aaa;
    margin: 10px 0;
}

/* pager */
.pager {
    font-size: 13px;
    line-height: 100%;
    display: inline;
}
.pager li {
    display: inline;
}
.pager a:link, .pager a:visited {
    color: #b0b0b0;
    padding: 1px 2px;
}
.pager .page a {
    font-weight: normal;
}
.pager a:hover {
    color: #555;
}
.pager .selected a {
    color: #555;
    font-weight:bold;
}
.pager .hidden a {
    color: #555;
}
.pager .first, .pager .last {
    display: none;
}
