/* alert */
.alert {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid transparent;
}
.alert-error {
  color: $error-color;
  background-color: $error-bg-color;
  border: $alert-bd-width $alert-bd-style $error-bd-color;
}
.alert-warning {
  color: $warning-color;
  background-color: $warning-bg-color;
  border: $alert-bd-width $alert-bd-style $warning-bd-color;
}
.alert-success {
  color: $success-color;
  background-color: $success-bg-color;
  border: $alert-bd-width $alert-bd-style $success-bd-color;
}
.alert-info {
  color: $info-color;
  background-color: $info-bg-color;
  border: $alert-bd-width $alert-bd-style $info-bd-color;
}
