/* general */
body {
  color: #555;
  background: #f5f5f5 image-url("bg.png");
  font:  normal 13px "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.4;
  letter-spacing: 0;
}

/* link */
a {
  text-decoration: none;
  &:link,
  &:visited {
    color: #bbb;
  }
  &:hover,
  &:active {
    color: #555;
  }
  &:link.hide,
  &:visited.hide {
    color: #fff;
  }
  &:hover.hide,
  &:active.hide {
    color: #bbb;
  }
}
