/* button */
.btn {
  height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #aaa;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}
.btn-a {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  &:hover {
    background-color: #417ab9;
  }
}
.btn-b {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  &:hover {
    background-color: #c32e29;
  }
}
.search-ico {
    width: 16px;
    height: 16px;
    border: 0;
    background-color: #fff;
    background-image: url("../images/ico-search.png");
    cursor: pointer;
}
