/* form general */
input[type=text],
input[type=email],
input[type=password] {
  width: 178px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid #aaa;
  font-size: 100%;
}

/* form group */
.form {
  .row {
    margin-bottom: 20px;
  }
  .errorSummary {
    margin-bottom: 10px;
    padding: 10px;
    border: $alert-bd-width $alert-bd-style $error-bd-color;
    color: $error-color;
    background-color: $error-bg-color;
    li {
      padding: 0 0 0 10px;
    }
  }
  p {
    margin-bottom: 10px;
    font-weight: bold;
  }
  form label {
    display: block;
    font-weight: bold;
  }
  input + label {
    display: inline-block;
    vertical-align: text-top;
    position: relative\9;
    top: -2px\9;
    left: 0\9;
  }
}

/* form placeholder */
.placeholder {
  color: #aaa;
}

