/* main header */
#header-logo {
  font-size: 140%;
  font-weight: bold;
}

/* main menu */
#main-menu li {
  display: inline;
  padding: 0 2px;
  text-align: right;
  font-weight: bold;
}
#main-menu .active a {
  color: #555;
  text-decoration: underline;
}

/* main word */
.words,
.words-hide {
  padding: 20px 10px 10px 10px;
  line-height: 1.5;
  font-weight: bold;
}
.words-hide {
  color: #fff;
}
.word {
  margin-right: 10px;
  color: #555;
}
.words a:link,
.words a:visited {
  color: #fff;
}
.words a:hover,
.words a:active {
  color: #bbb;
}

/* main etc */
.sort-link {
  float: left;
  text-align: left;
}
