/* text align */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/* text pager */
.pager {
  display: inline;
  margin: 10px 0;
}
.pager li {
  display: inline-block;
  margin-right: 5px;
}
.pager a {
  display: inline-block;
  color: #aaa;
  font-weight: normal;
  text-decoration: none;
}
.pager .selected {
  font-weight: bold;
  font-size: 110%;
  a {
    color: #555;
  }
}
.pager .first,
.pager .last {
  display: none;
}
